<!-- <h1>{{title}}</h1> -->

<!-- if condition  -->

<!-- <h2 *ngIf="show; then ifcondition else elseBlock">
  if conditon
</h2>

<ng-template #ifcondition>
  dfghnjdfdfgn
</ng-template>

<ng-template #elseBlock>
  else condition
</ng-template> -->

<!-- else if condition -->
<!-- <ng-template [ngIf]="color==='red'">
    <h1 style="color: red;">red</h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
    <h1 style="color: rgb(0, 255, 136);">blue</h1>
  </ng-template> -->

<!-- switchcase -->
<!--   
  <div [ngSwitch]="color">
  <h1 *ngSwitchCase="'blue'" style="color: rgb(0, 255, 136);">blue</h1>
  <h1 *ngSwitchCase="'red'" style="color: blue;">blue</h1>
  <h1 *ngSwitchCase="'blue'" style="color: rgb(0, 255, 136);">blue</h1>

</div> -->

<!-- nested loop -->
<!-- <ul *ngFor="let item of user">

  <li>{{item.name}}</li>
  <li>{{item.place}}</li>


  <ul *ngFor="let account of item.accounts">
    <li>{{account}}</li>
  </ul>


</ul> -->
<app-header></app-header>

<router-outlet></router-outlet>

<!-- custom pipe -->
<p class="bg-secondary">{{ 30 | usdInr: 80 }}</p>

<!-- <app-child  [item]="childData" ></app-child><br>  
<button (click)="updateData()" class="btn btn-warning">Change Data</button> -->

<!-- *** looping array elements into chid component -->
<ul *ngFor="let user of user">
  <app-child [user]="user"></app-child
  ><br />
</ul>

<P class="bg-danger m-3">child to parant</P>
<p>{{ data }}</p>
<app-child-to-parant
  (updateDataEvent)="updateParantData($event)"
></app-child-to-parant>
<app-footer></app-footer>
